.first-btn{
    background-color: black;
    color: white;
}

.second-btn{
    background-color: yellow;
}

.font-btn{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}